#menu ul {
    margin:0;
    padding: 0;
    line-height: 30px;
position: relative;
}

#menu li {
  list-style:none;
 float: left;
 position: relative;
 background-color: #999;
 text-align: center;
 margin-left: 30px;

}

#menu ul li a{
    color: #000;
    text-decoration: none;
    width: 150px;
    height: 30px;
    display: block;
    text-align: center;
    border:1px solid#000;
    text-shadow: 1px 1px 1px #ff0000;
    
}

#menu ul ul{
  position: absolute;
  top: 30px;
  visibility: hidden;
  
}
#menu ul li:hover ul
{
visibility: visible;
}
#menu li:hover
{
background-color:#FFF
}
#menu ul li ul a:hover
{
color:#FFF;
background-color: #000;

}

body{
  background-color: darkgreen
}